.particles-js {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: var(--background-color);
  top: 0;
}

.loading {
  background: var(--background-color);
  z-index: 9999;
  opacity: 1;
}

.center {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading.done {
  opacity: 0;
  transition: 1s;
  z-index: -9999;
}

/* --- */

.body {
    /* height: 100vh; */
    font-family: 'Fira Code';
    /* background: var(--background-color); */
    overflow-y: hidden;
}

.main {
    z-index: 1;
    width: 80%;
    margin: 69px auto 0px auto;
}