div.cardContainer {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-content: stretch;
}


@media screen and (max-width: 800px) {
	div.cardContainer {
		width: 100%;
	}
}