.footer {
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
}

.footer > div > a {
	border: none;
}

.footer > div > a:hover,
.footer > div > a:not(:hover) {
	transition: none;
	font-size: 0;
}
