@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');

.particles-js {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: #30303a;
  top: 0;
}

.main {
  width: 80%;
  margin: 10px auto 0 auto;
  z-index: 0;
  /* background: #30303a; */
  color: white;
  font-family: 'Fira Code';
  overflow-y: hidden;
  height: 80vh
}

h1.title,
h2.title {
  text-align: center;
}

.anchor:not(:hover) {
  color: white;
  text-decoration: none;
  border-bottom: calc(1rem / 7) dotted;
  transition: 50s;
  /* I still have no idea how this only takes like half a second but oh well */
}

.anchor:hover {
  text-decoration: none;
  border-bottom-style: solid;
  /* 👀 */
  font-size: 69rem;
  border-bottom-width: 10rem;

  transition-property: font-size border-bottom-width;
  transition: calc(6969s / 7);
}

.loading {
  background: #30303a;
  z-index: 9999;
  opacity: 1;
}

.center {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading.done {
  opacity: 0;
  transition: 1s;
  z-index: -9999;
}


.darkmode {
  font-family: 'Didact Gothic'
}

img.darkmode {
  position: fixed;
  height: 50px;
  width: 50px;
  top: 10px;
  left: 10px;
  cursor: pointer;
}

div.darkmode>p {
  color: #000;
}

div.darkmode.hidden {
  display: none !important;
}

img.darkmode:not(.hidden) {
  z-index: 9998;
}

div.darkmode-msg:not(.hidden) {
  z-index: 9997;
}

.blur {
  display: flex;
  backdrop-filter: blur(5px);
  z-index: 2;
  background-color: #ffffff88;
}

.blur.hidden {
  display: none;
  backdrop-filter: none;
}

/* --- */

.page {
  margin: 10px;
}