.main {
	width: 80%;
	margin: 20px auto 0 auto;
	z-index: 0;
	/* background: var(--background-color) */
	color: white;
	font-family: 'Fira Code';
	overflow-y: auto;
	height: 88vh;
}

h1.title,
h2.title {
	text-align: center;
	padding: 10px;
}

.page {
	padding: 30px;
	margin: 10px;
	line-height: 1.5rem;
}
